<!DOCTYPE html>
<html>
<head>
    <title>Admin Area</title>
</head>
<body>
    <main style="width : 100%">
        @RenderBody()
        @Html.Partial("_Notification")
    </main>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>