<header class="top-bar">
    <h1 class="page-title">Management</h1>
    <div class="account-section">
        <a href="ProfileAdminEdit.html" title="Edit Profile">
            <img src="~/images/account-icon-large.png" alt="Edit Profile" class="account-icon"> <!-- Link to Admin Edit Profile -->
        </a>
        <a href="/">
            <img src="~/images/360_F_66468754_86IFi1dhqwtHdXzPeMQNhGtGp8Z2D3yC.jpg" alt="Go to Home" class="account-placeholder">
            <span><strong>Back to Home</strong></span>
        </a>

    </div>
</header>