@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Cambo&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background: #F6F6F6;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #F6F6F6;
    /* background: #E4E4E4; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

.footer{
    background: #E4E4E4;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 8px 0;
}

.header .inner-wrap a{
    color: #111;
}

.header .inner-wrap ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.header .inner-wrap .inner-menu{
    justify-items: center;
}

.header .inner-wrap .inner-menu ul li{
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
}

.header .inner-wrap .inner-menu ul{
    margin: 0;
}

.header .inner-wrap .inner-logo{
    font-family: "Inknut Antiqua", serif;
    font-size: 25px;
    font-weight: 600;
}

.inner-search input{
    background: #D9D9D9;
    border: none;
    text-align: right;
    width: 367px;
    height: 35px;
    margin: 0;
    padding-right: 20px;
}

.header .inner-wrap .inner-utilities{
    display: flex;
    align-items: center;
    justify-items: center;
}

.header .inner-wrap .inner-utilities li {
    margin-left: 10px;
    margin-right: 10px;
}

.header .inner-wrap .inner-utilities ul{
    margin-right: 20px;
    padding: 0;
    margin-top: revert;
}

.header .inner-wrap .inner-utilities img{
    height: 40px;
    width: auto;
}

.header .inner-wrap .inner-menu-logo{
    font-size: 25px;
}

.header .inner-wrap .navbar-toggler{
    font-size: 32px;
    display: none;
    border: none;
    color: black;
}

.nav-link{
    display: none;
    text-align: center;
}

.container-fluid{
    padding: 0;
}

@media (max-width: 768px){
    .header .inner-wrap .navbar-toggler{
        font-size: 32px;
        display: block;
    }
    
    .nav-link{
        display: block;
    }

    .header .inner-wrap .inner-menu ul {
        display: none;
    }

    .header .inner-wrap .inner-utilities ul{
        margin-right: 0;
    }

    .inner-search{
        display: none;
    }

    .footer .container .inner-wrap {
        flex-direction: column;
        align-items: center;
    }

    .footer .inner-wrap .inner-box{
        width: 50%;
    }
}

/* End Header */

/* Footer */
.footer .container .inner-wrap .inner-box .inner-content{
    font-size: 24px;
    font-weight: 800;
    color: #B30C0C;
    margin: 10px 0;
}


.footer .container .inner-wrap .inner-box .inner-text{
    font-size: 14px;
    margin: 10px 0;
}

.footer .container .inner-wrap .inner-box .inner-utilities{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.footer .container .inner-wrap .inner-box img{
    margin: 0 5px;
    margin-left: 0;
}

.footer .container .inner-wrap{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: left;
}

.footer .container .inner-wrap li{
    font-weight: 450;
}
/* End Footer */