@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/Home.css">
    <title>Document</title>
</head>
<body>   
    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title fs-5" id="exampleModalToggleLabel">Login</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="login-main">
                        <div class="modal-username">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Example: Syprovip1">
                        </div>
                        <div class="modal-password">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password">
                        </div>
                    </div>
                    <div class="modal-inter">
                        <div class="button">
                            <button class="login-button">
                                Login
                            </button>
                        </div>
                        <a href="/" class="forgot-pass btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">
                            Forgot password?
                        </a>
                        <div class="modal-sign-up">
                            <span>
                                Don't have an account?
                            </span>
                            <a href="/" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                                Sign up now
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content content-two">
                <div class="modal-header">
                    <div class="header-main">
                        <button class="back-button btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                            <img src="~/images/Back.png" alt="Back">
                        </button>
                        <div class="modal-title fs-5" id="exampleModalToggleLabel2">Sign Up</div>
                    </div>
                    <button type="button" class="btn-close-change" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body body-two">
                    <div class="modal-main">
                        <div class="modal-left">
                            <label for="name">Your name:</label>
                            <input type="text" id="name" name="name" placeholder="Example: Trung Sy">
                            <label for="emal">Email:</label>
                            <input type="email" id="emal" name="emal" placeholder="Example: abc@gmail.com">
                            <label for="password1">Password:</label>
                            <input type="password" id="password1" name="password1">
                        </div>
                        <div class="modal-right">
                            <label for="username1">Username:</label>
                            <input type="text" id="username1" name="username1" placeholder="Example: SyVipPro">
                            <label for="phone">Phone:</label>
                            <input type="number" id="phone" name="phone">
                            <label for="passwordcheck">Check Password:</label>
                            <input type="password" id="passwordcheck" name="passwordcheck">
                        </div>
                    </div>
                    <div class="modal-button">
                        <button class="signup-button">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-main">
                        <button class="back-button btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                            <img src="~/images/Back.png" alt="Back">
                        </button>
                        <div class="modal-title fs-5" id="exampleModalToggleLabel3">Forgot Password</div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body body-three">
                    <div class="modal-text">
                        <div class="modal-main">
                            <label for="username">Enter Your Email:</label>
                            <input type="text" id="username" name="username" placeholder="Example: abc@gmail.com">
                            <label for="username">Confirmation Code:</label>
                            <input type="text" id="username" name="username" placeholder="Example: aHG7qq">
                        </div>
                        <div class="modal-button">
                            <button>
                                Send
                            </button>
                        </div>
                    </div>
                    <div class="modal-comfirm">
                        <button class="forgot-pass btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-main">
                        <button class="back-button btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                            <img src="~/images/Back.png" alt="Back">
                        </button>
                        <div class="modal-title fs-5" id="exampleModalToggleLabel4">Forgot Password</div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body body-three">
                    <div class="modal-text-four">
                        <div class="modal-main-four">
                            <label for="username">New Password:</label>
                            <input type="password" id="username" name="username" placeholder="Example: abc@gmail.com">
                            <label for="username">Enter Your Password Again::</label>
                            <input type="password" id="username" name="username" placeholder="Example: aHG7qq">
                        </div>
                    </div>
                    <div class="modal-comfirm">
                        <button>
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modal -->
    <!-- Section-one -->
    <div class="container">
        <div class="section-one">
            <div class="inner-wrap">
                <div class="inner-content">
                    MEN<br>WOMEN<br>KIDS
                </div>
                <div class="inner-home">
                    <img src="~/images/HomePic.png" alt="HomePic">
                    <div class="inner-sale">
                        <span class="span1">
                            NEW<br>COLLECTION<br>
                        </span>
                        <span class="span2">
                            Spring<br>2025
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section-one -->
    <!-- Line -->
    <div class="container">
        <div class="line"></div>
    </div>
    <!-- End Line -->
    <!-- Section-two -->
    <div class="container">
        <div class="section-two" id="carousel1">
            <div class="inner-wrap">
                <div class="inner-content">
                    <div class="content-left">
                        HOT<br>PRODUCTS
                    </div>
                    <div class="content-right">
                        <a asp-controller="Products" asp-action="Index">
                            See All
                        </a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="inner-list">
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-button">
                    <button class="nav-btn prev">❮</button>
                    <button class="nav-btn next">❯</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section-two -->
    <!-- Section-three -->
    <div class="container">
        <div class="section-two three" id="carousel2">
            <div class="inner-wrap">
                <div class="inner-content">
                    <div class="content-left">
                        PROMOTIONAL<br>PRODUCTS
                    </div>
                    <div class="content-right">
                        <a href="/">
                            See All
                        </a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="inner-list">
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </div>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </div>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </div>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                    <em style="text-decoration:line-through; color: #666">$99</em>
                                </span>
                            </div>
                            <div class="inner-sale">
                                <span>-99%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-button">
                    <button class="nav-btn prev">❮</button>
                    <button class="nav-btn next">❯</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section-three -->
    <!-- Section-four -->
    <div class="container">
        <div class="section-two four" id="carousel3">
            <div class="inner-wrap">
                <div class="inner-content">
                    <div class="content-left">
                        ALL<br>COLLECTIONS
                    </div>
                    <div class="content-right">
                        <a href="/">
                            See All
                        </a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="inner-list">
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Polo.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +6 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo with logo on the chest
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/Jean.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <div>
                                    +3 color
                                </div>
                                <div class="right">
                                    3 Size
                                </div>
                            </div>
                            <div class="des-two">
                                <div>
                                    Jeans basic slim
                                </div>
                                <div class="right">
                                    $1
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide col-lg-4 col-sm-6 col-12">
                        <div class="list">
                            <a href="/">
                                <div class="inner-img"><img src="~/images/PoloBasis.png" alt="Polo with logo on the chest"></div>
                            </a>
                            <div class="des-one">
                                <span>
                                    +3 color
                                </span>
                                <span class="right">
                                    3 Size
                                </span>
                            </div>
                            <div class="des-two">
                                <span>
                                    Polo basis lange mouw
                                </span>
                                <span class="right">
                                    $1
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-button">
                    <button class="nav-btn prev">❮</button>
                    <button class="nav-btn next">❯</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Section-four -->
    <script src="~/js/main.js"></script> 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>